<h1>{{titulo}}</h1>
<ul>
    <li>{{trabajadores[0].nombre}}</li>
        <ul>
            <li>{{trabajadores[0].edad}}</li>
            <li>{{trabajadores[0].puesto}}</li>
            <li>{{trabajadores[0].contratado}}</li>
        </ul>
    <li>{{empleado?.nombre}}
        <ul>
            <li>{{empleado?.edad}}</li>
            <li>{{empleado?.puesto}}</li>
            <li>{{empleado?.contratado}}</li>
        </ul>
    </li>
    <li>{{trabajadores[2].nombre}}</li>
        <ul>
            <li>{{trabajadores[2].edad}}</li>
            <li>{{trabajadores[2].puesto}}</li>
            <li>{{trabajadores[2].contratado}}</li>
        </ul>
</ul>
